---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import data from '../data/data.json';
---

<Layout title='Brilo Task'>
  <Hero />
  <section class='my-24 md:my-32'>
    <h2 class='text-white uppercase text-2xl font-light mb-4'>What i did</h2>
    <ul role='list' class='grid md:grid-cols-3 gap-6'>
      {
        data.map((item) => (
          <Card
            img={item.img}
            href='/'
            title={item.title}
            body={item.content}
          />
        ))
      }
    </ul>
  </section>
</Layout>
