<section class="my-12 sm:my-20 xl:my-36 sm:flex md:justify-between md:items-center">
  <div class="text-white max-w-3xl sm:pr-16">
    <article>
      <h1 class="uppercase text-4xl md:text-5xl font-light mb-8 md:mb-12">Jack Jackson</h1>
      <p class="mb-8 md:mb-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure inventore eveniet deleniti facilis placeat, architecto eligendi quam praesentium id deserunt iste, consequatur ratione itaque quasi! Molestiae tempore quod temporibus eius! Voluptates eius dolore aperiam ratione magnam maxime quibusdam sequi eaque aliquam voluptate, consectetur sapiente asperiores, doloribus voluptatibus quas ullam. Sed!
      </p>
      <p>
        <a href="" class="inline-flex py-2 px-12 bg-cyan-500 uppercase hover:bg-cyan-600 transition-colors">Learn More</a>
      </p>
    </article>
  </div>
  <div class="hidden sm:block sm:w-1/3 md:w-1/4 shrink-0">
    <img src="/img/hero-img.webp" alt="">
  </div>
</section>